button {
    background-color: #3b404a;
    border: #3b404a;
    color: white;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 1rem;
    margin: 0.25rem;
    width: 7rem;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.15);
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #1c1f26;
    border: #1c1f26;
}

.update {
    background-color: #4caf50;
}

.update:hover {
    background-color: #43a047;
}

.delete {
    background-color: #d32f2f;
}

.delete:hover {
    background-color: #b71c1c;
}