table {
    margin: 1rem;
    background-color: #e0a96d;
    color: #282c34;
    border-radius: 6px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.15);
    transition: all 0.2s ease-in-out;
    width: 40rem;
}

td {
    padding: 0 2rem
}

.actions {
    text-align: center;
}

thead {
    padding: 2rem 0;
    background-color: #fca311;
}